.embad-popup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.embad-popup > input {
  width: 200px;
  padding: 0.5rem;
}

.embad-popup > button {
  padding: 0.5rem;
  background: royalblue;
  opacity: 1;
  border-radius: 4px;
  color: white;
}
